<div class="row">
    <div class="col-md-6 offset-2">
        <h2>Salas de chat</h2>
        <ul class="list-group">
            @foreach (var e in LaMafiaRS.Controllers.ChatController.Rooms)
            {
                <li class="list-group-item"><a href="~/Chat/Room?room=@e.Key">@e.Value</a></li>
            }
        </ul>
    </div>
</div>

<a class="text-center text-white m-5 btn btn-dark" href="/Home/Index">Volver al inicio</a>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        });
        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');
        });

        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');
        });

        $(document).ready(function () {
            $(".edit-tweet-link").click(function () {
                // Obtener el ID del tweet a editar
                var tweetId = $(this).data("tweet-id");

                // Cargar la vista parcial en el modal
                $.get("/Home/EditarTweet/" + tweetId, function (data) {
                    $("#editModal .modal-body").html(data);
                    $("#editModal").modal("show");
                });
            });
        });
    </script>
}