<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaMafiaRS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LaMafiaRS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fontawesome/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="icon" href="~/imagenes/Logo.jpg"/>

    @RenderSection("estilos", false)
</head>
<body>
    <div class="row no-gutters">
        <div class="main-container d-flex">
            @*Inicio del sidebar*@
            <div class="sidebar" id="side_nav">
                <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
                    <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">MF</span><span class="text-white">La Mafia</span></h1>
                    <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="bi bi-chevron-double-up"></i></button>
                </div>
                
                
                <ul class="list-unstyled px-2">
                    
                    <li><h3>Hola @Context.User.Identity.Name!</h3></li>
                    <li class="active"><a asp-controller="Home" asp-action="Index" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-house text-white"></i> Inicio</a></li>
                    <li class=""><a asp-controller="Manage" asp-action="Perfil" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-person text-white"></i> Perfil</a></li>
                    <li class=""><a asp-controller="Events" asp-action="Index" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-calendar-event"></i> Eventos</a></li>
                    <li class="">
                        <a href="~/Chat/Index" class="text-decoration-none d-flex justify-content-between px-3 py-2">
                            <span><i class="bi bi-chat"></i> Salas de chats</span>
                            <span class="bg-dark rounded-pill text-white py-0 px-2">5</span>
                        </a>
                    </li>
                </ul>
                <hr class="h-color mx-2">

                <ul class="list-unstyled px-2">
                    <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-gear text-white"></i> Configuración</a></li>
                    <li class=""><a class="text-decoration-none px-3 py-2 d-block" asp-controller="Manage" asp-action="LogOut"> Cerrar sesión</a></li>
                </ul>
            </div>

            @*Fin del sidebar*@

            <div class="content">
                @*Inicio del header y modeales*@
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div class="container-fluid ">
                        <div class="d-flex justify-content-between d-md-none d-block">
                            <a class="navbar-brand fs-4" href="#">La Mafia</a>
                            <button class="btn px-1 py-0 open-btn"><i class="bi bi-chevron-double-up"></i></button>
                        </div>
                        <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="container d-flex row">
                            <div class="col-4">
                                <div class="collapse navbar-collapse justify-content-start col" id="navbarSupportedContent">
                                    <div class="row">
                                        <div class="col">
                                            <a class="btn btn-dark" asp-controller="Tweet" asp-action="Create">Crear nuevo post</a>
                                            <a class="btn btn-dark" asp-controller="Events" asp-action="Create">Crear nuevo evento</a>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                            <div class="col-8">
                                <div class="collapse navbar-collapse justify-content-end col" id="navbarSupportedContent">
                                    <ul class="navbar-nav  mb-2 mb-lg-0">
                                        <form class="d-flex" asp-controller="Manage" asp-action="Search">
                                            <input class="form-control me-2" type="search" name="Buscar" placeholder="Busca un usuario..." aria-label="Search">
                                            <button class="btn btn-outline-dark" type="submit">Buscar</button>
                                        </form>
                                        <li class="nav-item">
                                            <partial name="_MenuLogIn" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                @*Fin del header y modales*@

                <div class="row">
                    <div class="col-md-7 p-3">
                        @*Inicio del contenido de texto e imagenes*@
                        @RenderBody()

                        @*Fin del contenido de texto e imágenes*@
                    
                    </div>
                </div>            
            </div>
            

        </div>
    </div>
    


    <footer class="text-center text-white" style="background-color: #000000;">
        <div class="container ">
            <section>
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="mailto:tomas.facundo.sosa@gmail.com"
                   target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-google"></i>
                </a>
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://www.instagram.com/tomassosa20/"
                   target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://www.linkedin.com/in/tom%C3%A1s-facundo-sosa-b6197b22a/"
                   target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://github.com/TommySosa"
                   target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-github"></i>
                </a>
                <div class="">
                    <h6 class="text-uppercase fw-bold mb-4">Contáctame</h6>
                    <p><i class="fas fa-home me-3 text-dark"></i> Yerba Buena, Tucumán.</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-dark"></i>
                        tomas.facundo.sosa@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-dark"></i> + 54 381 328 4273</p>

                </div>
            </section>
        </div>
        <div class="text-center text-white p-3" style="background-color: #1C1C1C;">
            © 2023 Copyright:
            <a class="text-white" href="https://www.instagram.com/tomassosa20/" target="_blank"> Tomás F. Sosa</a>
        </div>
    </footer>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        });
        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');
        });

        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');
        });

        $(document).ready(function () {
            $(".edit-tweet-link").click(function () {
                // Obtener el ID del tweet a editar
                var tweetId = $(this).data("tweet-id");

                // Cargar la vista parcial en el modal
                $.get("/Home/EditarTweet/" + tweetId, function (data) {
                    $("#editModal .modal-body").html(data);
                    $("#editModal").modal("show");
                });
            });
        });
    </script>
</body>
</html>
