@if (Context.User.Identity.IsAuthenticated == false)
{
    <a class="nav-link text-dark" asp-controller="Manage" asp-action="LogIn">LogIn</a>
}

@if (Context.User.IsInRole("ADMIN"))
{

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminUsuarios">Lista de usuarios</a>
        </li>


}
