@model LaMafiaRS.Models.Tweet
@{
    ViewData["Title"] = "Editar";
}

<h1 style="text-align: center;">Editar Productos</h1>

<div class="container col-md-5">

    <form asp-controller="Home" asp-action="Editar">

        <div>
            <label asp-for="Text" class="control-label"></label>
            <input asp-for="Text" class="form-control">
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="CreationDate" class="control-label"></label>
            <input asp-for="CreationDate" class="form-control">
            <span asp-validation-for="CreationDate" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Imagen1" class="control-label"></label>
            <input asp-for="Imagen1" class="form-control">
            <span asp-validation-for="Imagen1" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Imagen2" class="control-label"></label>
            <input asp-for="Imagen2" class="form-control">
            <span asp-validation-for="Imagen2" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Imagen2" class="control-label"></label>
            <input asp-for="Imagen2" class="form-control">
            <span asp-validation-for="Imagen2" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Imagen2" class="control-label"></label>
            <input asp-for="Imagen2" class="form-control">
            <span asp-validation-for="Imagen2" class="text-danger"></span>
        </div>

        <br>
        <div style="text-align:center;">
            <button type="submit" class="btn btn-primary">Editar</button>
        </div>

    </form>

</div>

