@model List<User>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row no-gutters">
    <div class="main-container d-flex">
        @*Inicio del sidebar*@
        <div class="sidebar" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
                <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">MF</span><span class="text-white">La Mafia</span></h1>
                <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="bi bi-chevron-double-up"></i></button>
            </div>

            <ul class="list-unstyled px-2">
                <li><h3>Hola @Context.User.Identity.Name!</h3></li>
                <li class="active"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-house text-white"></i> Inicio</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-person text-white"></i> Perfil</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-bell text-white"></i> Notificaciones</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-calendar-event"></i> Eventos</a></li>
                <li class=""><a href="#" class="text-decoration-none d-flex justify-content-between px-3 py-2">
                        <span><i class="bi bi-chat"></i> Mensajes</span>
                        <span class="bg-dark rounded-pill text-white py-0 px-2">02</span>
                    </a>
                </li>       
            </ul>
            <hr class="h-color mx-2">

            <ul class="list-unstyled px-2">
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-gear text-white"></i> Configuración</a></li>
                <li class=""><a class="text-decoration-none px-3 py-2 d-block" asp-controller="Manage" asp-action="LogOut"> Cerrar sesión</a></li>
            </ul>
        </div>

        @*Fin del sidebar*@

        <div class="content">
            @*Inicio del header y modeales*@
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between d-md-none d-block">
                         <a class="navbar-brand fs-4" href="#">La Mafia</a>
                        <button class="btn px-1 py-0 open-btn"><i class="bi bi-chevron-double-up"></i></button>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="container d-flex row">
                    <div class="col-4">
                            <div class="collapse navbar-collapse justify-content-start col" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="btn btn-dark" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Crear nuevo post</a>
                                    </li>
                                </ul>
                                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalToggleLabel">Publicar un posteo solo de texto</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <label>Escribe el cuerpo de tu post(máximo 140 carácteres).</label>
                                                    <textarea style="height:200px; width:400px;"></textarea>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary">Publicar</button>
                                                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Publicar imagenes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalToggleLabel2">Publicar sólo imágenes</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <label>Agrega las imágenes a publicar(máximo 4 imágenes).</label>
                                                <input type="file" value="Imagen 1"/>
                                                <input type="file" value="Imagen 2" />
                                                <input type="file" value="Imagen 3"/>
                                                <input type="file" value="Imagen 4" />
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary">Publicar</button>
                                                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Volver</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-8">
                            <div class="collapse navbar-collapse justify-content-end col" id="navbarSupportedContent">
                                <ul class="navbar-nav  mb-2 mb-lg-0">
                                    <form class="d-flex">
                                        <input class="form-control me-2" type="search" placeholder="Busca un usuario..." aria-label="Search">
                                        <button class="btn btn-outline-dark" type="submit">Buscar</button>
                                    </form>
                                    <li class="nav-item">
                                        <partial name="_MenuLogIn" />
                                    </li>
                                </ul>
                            </div>
                    </div>
                    </div>
                </div>
            </nav>

            @*Fin del header y modales*@

            <div class="col-md-9 p-3">
                @*Inicio del contenido de texto e imagenes*@
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del usuario</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@@nombre_de_usuario</h6>
                        <p class="card-text">Hola este es un tweet de la Red Social de LA MAFIA de prueba asi que hola como estas</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">04/01/2003</small>
                    </div>
                </div>


                <div class="card mb-3">
                    <div class="card-body w-60">
                        <h5 class="card-title">Nombre del usuario</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@@nombre_de_usuario</h6>
                        <div class="row">
                            <div class="col-6 p-0">
                                <!-- Imagen 1 -->
                                <img src="~/imagenes/img-tomi-1.jpg" class="img-fluid" alt="Imagen 1" width="auto" height="auto" style="border-radius:10px 0px 0px 0px">
                            </div>
                            <div class="col-6 p-0">
                                <!-- Imagen 2 -->
                                <img src="~/imagenes/img-tomi-2.jpg" class="img-fluid" alt="Imagen 2" width="auto" height="auto" style="border-radius:0px 10px 0px 0px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 p-0">
                                <!-- Imagen 3 -->
                                <img src="~/imagenes/img-tomi-3.jpg" class="img-fluid" alt="Imagen 3" width="196" height="auto" style="border-radius:0px 0px 0px 10px">
                            </div>
                            <div class="col-3 p-0">
                                <!-- Imagen 4 -->
                                <img src="~/imagenes/img-tomi-4.jpg" class="img-fluid" alt="Imagen 4" width="196" height="auto">
                            </div>
                            <div class="col-3 p-0">
                                <!-- Imagen 4 -->
                                <img src="~/imagenes/img-tomi-4.jpg" class="img-fluid" alt="Imagen 4" width="196" height="auto">
                            </div>
                            <div class="col-3 p-0">
                                <!-- Imagen 4 -->
                                <img src="~/imagenes/img-tomi-4.jpg" class="img-fluid" alt="Imagen 4" width="196" height="auto" style="border-radius:0px 0px 10px 0px">
                            </div>
                        </div>
                        <p>Descripcion de prueba holaaaa jajajaj soy bien piolaa</p>
                        
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">04/01/2003</small>
                    </div>
                </div>





                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del usuario</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@@nombre_de_usuario</h6>
                        <p class="card-text">Hola este es un tweet de la Red Social de LA MAFIA de prueba asi que hola como estas</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">04/01/2003</small>
                    </div>
                </div>
                
                @*Fin del contenido de texto e imágenes*@

            </div>
        </div>
    
    </div>   
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script>
        $(".sidebar ul li").on('click', function(){
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        });
        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');
        });

        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');
        })
    </script>
}

